@keyframes appear-polygon {
  100%{
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

@keyframes rotate-infinite {
  100%{
    transform: scale(1.1) rotate(360deg);
  }
}

@keyframes appear-rotate-y {
  100%{
    opacity: 1;
    transform: translateX(0) rotateY(720deg);
  }
}