//font-size

.fz-{
  &20{
    font-size: 20px;
  }
  &24{
    font-size: 24px;
  }
}

.ff-kosko{
  font-family: 'Kosko';
}

//text-align
.ta{
  &c{
    text-align: center;
  }
}

//margin
.mb{
  &-20{
    margin-bottom: 20px;
  }
}

.curpointer{
  cursor: pointer;
}