*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  min-height: 100%;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 1rem;
  color: var(--text-color-body);
  background: var(--palette-gradient-2);
}

.container{
  max-width: var(--content-width);
  padding: 0 2.5em;
  margin: 0 auto;
}